body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.flex {
    display: flex;
  }
h1.title {
  top: 20vh;
  font-size: 500%;
  margin-bottom: 0px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #5f1854;
}
h2.subtitle{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #5f1854;
}
.right {
width: 50%;
border: 1px solid;
/* position: relative;
border-radius: 8px;
height: 180px;
color: #fafafa;
background: #212121; */

text-align: center;
}

/* .right:before {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 24px;
bottom: 24px;
left: 24px;
right: 24px;
border: dashed 2px #fafafa;
color: #fafafa;
font-size: 14px;
content: 'drag and drop "png" file here';
pointer-events: none;
}

.right input {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100px;
height: 100px;
font-size: 10px;
opacity: 0;
} */

.left {
width: 50%;
border: 1px solid;
text-align: center;
}

.sendData {
text-align: center;
bottom: 100px;

}
table{
border-collapse:collapse;
margin:30px auto;
}
td,th{
font-family: 'Times New Roman', Times, serif !important;
padding:5px;
text-align:center;
}
th{
color:rgb(255, 255, 255);
background:#924286;
}
table tr:nth-child(odd){
background:#e4a9db;
}
.csv_data p{
  text-align: center;
}

.flex .mode-select {
  margin: 20px auto;
}