<!doctype html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>
                Face Graph
            </title>
        </head>
        <body>
            <h1>
                {{err_mes}}
            </h1>
            <div class="next">
                <form action="/" method="get">
                    <input type="submit" value='Home'>
                </form>
            </div>
            <div class="next">
                <form action="/upload" method="get">
                    <input type="submit" value='もう一度試す'>
                </form>
            </div>        </body>
        </html>